WSDL-REST-XSD/transferMedia-V1_3_0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright 2013 Advanced Media Workflow Association and European Broadcasting Union

Licensed under the Apache License, Version 2.0 (the "License"); 
you may not use this file except in compliance with the License. 
You may obtain a copy of the License at 

http://www.apache.org/licenses/LICENSE-2.0 

Unless required by applicable law or agreed to in writing, software 
distributed under the License is distributed on an "AS IS" BASIS, 
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. 
See the License for the specific language governing permissions and 
limitations under the License.
--> 
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:bms="http://base.fims.tv"
	xmlns:tms="http://transfermedia.fims.tv" targetNamespace="http://transfermedia.fims.tv">
	<import namespace="http://base.fims.tv" schemaLocation="baseMediaService-V1_3_0.xsd"/>
  
	<!-- **************************** FIMS-defined resources ****************************** -->
	<complexType name="TransferProfileType">
		<annotation>
			<documentation source="urn:x-fims:description">Profile used by the transfer
				media service to transfer files. The profile provides a mechanism to
				specify service-specific information for each service. To specify multiple 
				destinations, multiple profiles are used through the profiles element of 
				the transfer job.
				Since version 1.2 partial transfer of bmContents is supported via ContentPartAtoms. Input bmContent elements included in the Job element can be referred to in ContentPartAtoms, defining also a time range inside the content timeline.
				In this case a new essence is created by the service by extracting the part described in the ContentPartAtom from the corresponding essence in the referred bmContent. A new bmContent is generated by the service, whose ResourceID can be optionally specified in the atom, and 
				this new bmContent will be transferred to the destination specified in the transferAtom. The transfer service is also responsible for the annotation of a reference to the source content, by populating an OriginType element inside a ContentPartType in the new bmContent.
				bmContents that must be transferred without part extraction must be referred to in the WholeContentAtom.
				</documentation>
			<documentation source="urn:x-fims:normativeRequirement"/>
			<documentation source="urn:x-fims:serviceDescription"/>
			<documentation source="urn:x-fims:contentOfServiceDescription"/>
		</annotation>
		<complexContent>
			<extension base="bms:ProfileType">
				<sequence>
					<element name="transferAtom" type="bms:TransferAtomType" minOccurs="1" maxOccurs="unbounded">
						<annotation>
							<documentation source="urn:x-fims:description">A set of parameters specific to the 
								transfer media service, providing the transfer target destination.</documentation>
							<documentation source="urn:x-fims:normativeRequirement"/>
							<documentation source="urn:x-fims:serviceDescription"/>
							<documentation source="urn:x-fims:contentOfServiceDescription"/>
							<documentation source="urn:x-fims:inclusionInRequest">Inclusion In Request: Mandatory</documentation>
							<documentation source="urn:x-fims:inclusionInResponse">Inclusion In Response: Mandatory</documentation>
						</annotation>
					</element>
					<element name="contentPartAtom" type="bms:ContentPartAtomType" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation source="urn:x-fims:description">A set of parameters providing content part operation.</documentation>
							<documentation source="urn:x-fims:normativeRequirement"/>
							<documentation source="urn:x-fims:serviceDescription"/>
							<documentation source="urn:x-fims:contentOfServiceDescription"/>
							<documentation source="urn:x-fims:inclusionInRequest">Inclusion In Request: Optional</documentation>
							<documentation source="urn:x-fims:inclusionInResponse">Inclusion In Response: Optional</documentation>
						</annotation>
					</element>
					<element name="wholeContentAtom" type="bms:WholeContentAtomType" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation source="urn:x-fims:description">Use this Atom for whole BMContent processing. Equivalent to the behavior in version 1.1</documentation>
							<documentation source="urn:x-fims:normativeRequirement"/>
							<documentation source="urn:x-fims:serviceDescription"/>
							<documentation source="urn:x-fims:contentOfServiceDescription"/>
							<documentation source="urn:x-fims:inclusionInRequest">Inclusion In Request: Optional</documentation>
							<documentation source="urn:x-fims:inclusionInResponse">Inclusion In Response: Optional</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="TransferJobType">
		<annotation>
			<documentation source="urn:x-fims:description">Describes a transfer job.</documentation>
			<documentation source="urn:x-fims:normativeRequirement"/>
			<documentation source="urn:x-fims:serviceDescription"/>
			<documentation source="urn:x-fims:contentOfServiceDescription"/>
		</annotation>
		<complexContent>
			<extension base="bms:JobType">
				<sequence>
					<element name="profiles" minOccurs="0" maxOccurs="1">
						<annotation>
							<documentation source="urn:x-fims:description">Transfer profiles associated with
								this job.</documentation>
							<documentation source="urn:x-fims:normativeRequirement"/>
							<documentation source="urn:x-fims:serviceDescription"/>
							<documentation source="urn:x-fims:contentOfServiceDescription"/>
							<documentation source="urn:x-fims:inclusionInRequest">Inclusion In Request: Mandatory</documentation>
							<documentation source="urn:x-fims:inclusionInResponse">Inclusion In Response: Optional</documentation>
						</annotation>
						<complexType>
							<sequence>
								<element name="transferProfile" type="tms:TransferProfileType" minOccurs="1" maxOccurs="unbounded">
									<annotation>
										<documentation source="urn:x-fims:description">Transfer profiles associated with this job.</documentation>
										<documentation source="urn:x-fims:normativeRequirement"/>
										<documentation source="urn:x-fims:serviceDescription"/>
										<documentation source="urn:x-fims:contentOfServiceDescription"/>
										<documentation source="urn:x-fims:inclusionInRequest">Inclusion In Request: Mandatory</documentation>
										<documentation source="urn:x-fims:inclusionInResponse">Inclusion In Response: Mandatory</documentation>
									</annotation>
								</element>
							</sequence>
						</complexType>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- **************************** FIMS-defined enumerations **************************** -->
	<simpleType name="TransferErrorCodeType">
		<annotation>
			<documentation source="urn:x-fims:description">Specific error codes for the
				transfer service
				- INF_S01_xxxx: Infrastructure errors (system, storage, network, memory, processor)
				- DAT_S01_xxxx: Data errors (validation, missing, duplication)
				- SVC_S01_xxxx: Operation errors (existence, support, lock, connection, failure)
				- SEC_S01_xxxx: Security errors (authentication, authorization)
			</documentation>
			<documentation source="urn:x-fims:normativeRequirement"/>
			<documentation source="urn:x-fims:serviceDescription"/>
			<documentation source="urn:x-fims:contentOfServiceDescription"/>
		</annotation>
		<restriction base="string">
			<enumeration value="DAT_S01_0001">
				<annotation>
					<documentation source="urn:x-fims:description">Invalid URI protocol specified
						for Transport operations.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="DAT_S01_0002">
				<annotation>
					<documentation source="urn:x-fims:description">Invalid OutpurDirectory or
						Target URI path.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="DAT_S01_0003">
				<annotation>
					<documentation source="urn:x-fims:description">Incorrect Hash. File received
						does not have same hash as specified in the file hash value
						property.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="SVC_S01_0001">
				<annotation>
					<documentation source="urn:x-fims:description">Unsupported protocol.
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="SVC_S01_0002">
				<annotation>
					<documentation source="urn:x-fims:description">Unsupported hash type.
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="SVC_S01_0003">
				<annotation>
					<documentation source="urn:x-fims:description">Encryption not supported.
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="SVC_S01_0004">
				<annotation>
					<documentation source="urn:x-fims:description">Authentication not supported.
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="SVC_S01_0005">
				<annotation>
					<documentation source="urn:x-fims:description">Integrity check not supported.
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="SVC_S01_0006">
				<annotation>
					<documentation source="urn:x-fims:description">File too large.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="SVC_S01_0007">
				<annotation>
					<documentation source="urn:x-fims:description">Times not possible.
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="SVC_S01_0008">
				<annotation>
					<documentation source="urn:x-fims:description">Incorrect file size.
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="SVC_S01_0009">
				<annotation>
					<documentation source="urn:x-fims:description">Rejected by operator.
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="SVC_S01_0010">
				<annotation>
					<documentation source="urn:x-fims:description">Transfer process ended
						unexpectedly.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="INF_S01_0001">
				<annotation>
					<documentation source="urn:x-fims:description">Network link with insufficient
						bandwidth.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="INF_S01_0002">
				<annotation>
					<documentation source="urn:x-fims:description">Link timed out.</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>
	<!-- **************************** FIMS-defined messages and faults **************************** -->
	<complexType name="TransferRequestType">
		<annotation>
			<documentation source="urn:x-fims:description">A request to
				the transfer media service to transfer content from a source location to
				a target location. </documentation>
			<documentation source="urn:x-fims:normativeRequirement"/>
			<documentation source="urn:x-fims:serviceDescription"/>
			<documentation source="urn:x-fims:contentOfServiceDescription"/>
			<documentation source="urn:x-fims:modifiedInVersion">Modified In Version: 1_1_0</documentation>
		</annotation>
		<sequence>
			<element name="transferJob" type="tms:TransferJobType" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation source="urn:x-fims:description">Describes a transfer job.</documentation>
					<documentation source="urn:x-fims:normativeRequirement"/>
					<documentation source="urn:x-fims:serviceDescription"/>
					<documentation source="urn:x-fims:contentOfServiceDescription"/>
					<documentation source="urn:x-fims:inclusionInRequest">Inclusion In Request: Mandatory</documentation>
					<documentation source="urn:x-fims:inclusionInResponse">Inclusion In Response: Not applicable</documentation>
				</annotation>
			</element>
		</sequence>
		<attribute name="version" use="required" type="bms:CurrentVersion">
			<annotation>
				<documentation source="urn:x-fims:description">The current schema FIMS version.</documentation>
				<documentation source="urn:x-fims:introducedInVersion">Introduced In Version: 1_1_0</documentation>
			</annotation>
		</attribute>
	</complexType>
	<complexType name="TransferResponseType">
		<annotation>
			<documentation source="urn:x-fims:description">An
				acknowledgment sent back from the transfer media service when the
				transfer job is submitted.</documentation>
			<documentation source="urn:x-fims:normativeRequirement"/>
			<documentation source="urn:x-fims:serviceDescription"/>
			<documentation source="urn:x-fims:contentOfServiceDescription"/>
			<documentation source="urn:x-fims:modifiedInVersion">Modified In Version: 1_1_0</documentation>
		</annotation>
		<sequence>
			<element name="transferJob" type="tms:TransferJobType" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation source="urn:x-fims:description">Describes a transfer job.</documentation>
					<documentation source="urn:x-fims:normativeRequirement"/>
					<documentation source="urn:x-fims:serviceDescription"/>
					<documentation source="urn:x-fims:contentOfServiceDescription"/>
					<documentation source="urn:x-fims:inclusionInRequest">Inclusion In Request: Not applicable</documentation>
					<documentation source="urn:x-fims:inclusionInResponse">Inclusion In Response: Mandatory</documentation>
				</annotation>
			</element>
		</sequence>
		<attribute name="version" use="required" type="bms:CurrentVersion">
			<annotation>
				<documentation source="urn:x-fims:description">The current schema FIMS version.</documentation>
				<documentation source="urn:x-fims:introducedInVersion">Introduced In Version: 1_1_0</documentation>
			</annotation>
		</attribute>
	</complexType>
	<complexType name="TransferFaultType">
		<annotation>
			<documentation source="urn:x-fims:description">Fault
				information for the transfer media service.</documentation>
			<documentation source="urn:x-fims:normativeRequirement">If an exception is generated
				when the transfer request message is submitted to the service, 
				it shall respond with a message based on the TransferFaultType.</documentation>
			<documentation source="urn:x-fims:serviceDescription"/>
			<documentation source="urn:x-fims:contentOfServiceDescription"/>
		</annotation>
		<complexContent>
			<extension base="bms:FaultType">
				<sequence>
					<element name="extendedCode" type="tms:TransferErrorCodeType" minOccurs="0" maxOccurs="1">
						<annotation>
							<documentation source="urn:x-fims:description">Extended code for the
								transfer fault.</documentation>
							<documentation source="urn:x-fims:normativeRequirement">This element shall be set if
								the service needs to provide service-specific error codes which
								are not specified in the fault 'code' element. In this
								case, the code element shall be set to 'EXT_S00_0000' and
								the extendedCode shall be set to one of the codes described in
								TransferErrorCodeType. If the 'code' element is set
								to any other value than 'EXT_S00_0000'; then this element
								shall not be set.</documentation>
							<documentation source="urn:x-fims:serviceDescription"/>
							<documentation source="urn:x-fims:contentOfServiceDescription"/>
							<documentation source="urn:x-fims:inclusionInRequest">Inclusion In Request: Not applicable</documentation>
							<documentation source="urn:x-fims:inclusionInResponse">Inclusion In Response: Optional</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="TransferNotificationType">
		<annotation>
			<documentation source="urn:x-fims:description">Notification of the successful completion of a
				transfer job.</documentation>
			<documentation source="urn:x-fims:normativeRequirement">If one or more "notifyAt" 
				elements are set for the associated transfer job, then the service shall respond with a
				notification to the specified endpoints when the job completes. (If notification is supported.)</documentation>
			<documentation source="urn:x-fims:serviceDescription"/>
			<documentation source="urn:x-fims:contentOfServiceDescription"/>
			<documentation source="urn:x-fims:modifiedInVersion">Modified In Version: 1_1_0</documentation>
		</annotation>
		<sequence>
			<element name="transferJob" type="tms:TransferJobType" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation source="urn:x-fims:description">Describes a transfer job.</documentation>
					<documentation source="urn:x-fims:normativeRequirement"/>
					<documentation source="urn:x-fims:serviceDescription"/>
					<documentation source="urn:x-fims:contentOfServiceDescription"/>
					<documentation source="urn:x-fims:inclusionInRequest">Inclusion In Request: Not applicable</documentation>
					<documentation source="urn:x-fims:inclusionInResponse">Inclusion In Response: Mandatory</documentation>
				</annotation>
			</element>
		</sequence>
		<attribute name="version" use="required" type="bms:CurrentVersion">
			<annotation>
				<documentation source="urn:x-fims:description">The current schema FIMS version.</documentation>
				<documentation source="urn:x-fims:introducedInVersion">Introduced In Version: 1_1_0</documentation>
			</annotation>
		</attribute>
	</complexType>
	<complexType name="TransferFaultNotificationType">
		<annotation>
			<documentation source="urn:x-fims:description">Fault
				notification for the transfer service, including
				the related capture job and the fault code.</documentation>
			<documentation source="urn:x-fims:normativeRequirement">If one or more
				"notifyAt" elements are set for the transfer job and a failure
				occurs during the job execution, then the service shall respond with
				a transfer fault notification to the endpoint specified by
				'faultTo'.</documentation>
			<documentation source="urn:x-fims:serviceDescription"/>
			<documentation source="urn:x-fims:contentOfServiceDescription"/>
			<documentation source="urn:x-fims:modifiedInVersion">Modified In Version: 1_1_0</documentation>
		</annotation>
		<sequence>
			<sequence>
				<element name="transferJob" type="tms:TransferJobType" minOccurs="1" maxOccurs="1">
					<annotation>
						<documentation source="urn:x-fims:description">Describes a transfer job.</documentation>
						<documentation source="urn:x-fims:normativeRequirement"/>
						<documentation source="urn:x-fims:serviceDescription"/>
						<documentation source="urn:x-fims:contentOfServiceDescription"/>
						<documentation source="urn:x-fims:inclusionInRequest">Inclusion In Request: Not applicable</documentation>
						<documentation source="urn:x-fims:inclusionInResponse">Inclusion In Response: Mandatory</documentation>
					</annotation>
				</element>
			</sequence>
			<element name="fault" type="tms:TransferFaultType" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation source="urn:x-fims:description">Fault information.</documentation>
					<documentation source="urn:x-fims:normativeRequirement"/>
					<documentation source="urn:x-fims:serviceDescription"/>
					<documentation source="urn:x-fims:contentOfServiceDescription"/>
					<documentation source="urn:x-fims:inclusionInRequest">Inclusion In Request: Not applicable</documentation>
					<documentation source="urn:x-fims:inclusionInResponse">Inclusion In Response: Mandatory</documentation>
				</annotation>
			</element>
		</sequence>
		<attribute name="version" use="required" type="bms:CurrentVersion">
			<annotation>
				<documentation source="urn:x-fims:description">The current schema FIMS version.</documentation>
				<documentation source="urn:x-fims:introducedInVersion">Introduced In Version: 1_1_0</documentation>
			</annotation>
		</attribute>
	</complexType>
	<element name="transferRequest" type="tms:TransferRequestType">
		<annotation>
			<documentation source="urn:x-fims:description">A request
				to the transfer media service to transfer content from a source location
				to a target location.</documentation>
			<documentation source="urn:x-fims:normativeRequirement"/>
			<documentation source="urn:x-fims:serviceDescription"/>
			<documentation source="urn:x-fims:contentOfServiceDescription"/>
		</annotation>
	</element>
	<element name="transferAck" type="tms:TransferResponseType">
		<annotation>
			<documentation source="urn:x-fims:description">An
				acknowledgment sent back from the transfer media service when the
				transfer job is submitted.
			</documentation>
			<documentation source="urn:x-fims:normativeRequirement"/>
			<documentation source="urn:x-fims:serviceDescription"/>
			<documentation source="urn:x-fims:contentOfServiceDescription"/>
		</annotation>
	</element>
	<element name="transferFault" type="tms:TransferFaultType">
		<annotation>
			<documentation source="urn:x-fims:description">A fault notification
				that may be sent by the transfer media service when a job is
				submitted.</documentation>
			<documentation source="urn:x-fims:normativeRequirement"/>
			<documentation source="urn:x-fims:serviceDescription"/>
			<documentation source="urn:x-fims:contentOfServiceDescription"/>
		</annotation>
	</element>
	<element name="transferNotification" type="tms:TransferNotificationType">
		<annotation>
			<documentation source="urn:x-fims:description">A job
				completion notification that the transfer media service sends to a
				specified endpoint when the transfer job ends.</documentation>
			<documentation source="urn:x-fims:normativeRequirement">This notification
				shall be sent to all &quot;notifyAt&quot; elements associated with 
				transfer job.</documentation>
			<documentation source="urn:x-fims:serviceDescription"/>
			<documentation source="urn:x-fims:contentOfServiceDescription"/>
		</annotation>
	</element>
	<element name="transferFaultNotification" type="tms:TransferFaultNotificationType">
		<annotation>
			<documentation source="urn:x-fims:description">A fault
				notification that the transfer media service sends to a specified
				endpoint if the transfer job fails.</documentation>
			<documentation source="urn:x-fims:normativeRequirement">This fault notification
				shall be sent to all &quot;notifyAt&quot; elements associated with 
				transfer job.</documentation>
			<documentation source="urn:x-fims:serviceDescription"/>
			<documentation source="urn:x-fims:contentOfServiceDescription"/>
		</annotation>
	</element>
</schema>
