WSDL-REST-XSD/transformMedia.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<!--
Copyright 2015 Advanced Media Workflow Association and European Broadcasting Union

Licensed under the Apache License, Version 2.0 (the "License"); 
you may not use this file except in compliance with the License. 
You may obtain a copy of the License at 

http://www.apache.org/licenses/LICENSE-2.0 

Unless required by applicable law or agreed to in writing, software 
distributed under the License is distributed on an "AS IS" BASIS, 
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. 
See the License for the specific language governing permissions and 
limitations under the License.
--> 
<wsdl:definitions 
    name="TransformMedia" 
    targetNamespace="http://transformmedia.fims.tv" 
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns="http://www.w3.org/2001/XMLSchema" 
	xmlns:bms="http://base.fims.tv" 
	xmlns:tfms="http://transformmedia.fims.tv" 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">

	<wsdl:types>
	   <schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<import namespace="http://base.fims.tv" schemaLocation="baseMediaService.xsd">
			</import>
		</schema>

		<schema targetNamespace="http://transformmedia.fims.tv" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			xmlns:tns="http://transformmedia.fims.tv">
			<include schemaLocation="transformMedia.xsd"></include>
		</schema>
	</wsdl:types>

	<wsdl:message name="transformRequestMsg">
		<wsdl:part name="in" element="tfms:transformRequest">
			<wsdl:documentation>This message represents a request to the transform media service for transforming content from a source format to a target format.</wsdl:documentation></wsdl:part>
	</wsdl:message>
	<wsdl:message name="transformAckMsg">
		<wsdl:part name="ack" element="tfms:transformAck">
			<wsdl:documentation>This message represents the acknowledgment sent back from the transform media service when the transform job is submitted.</wsdl:documentation></wsdl:part>
	</wsdl:message>
	<wsdl:message name="transformFaultMsg">
		<wsdl:part name="fault" element="tfms:transformFault">
			<wsdl:documentation>This message represents a fault which may be sent by the transform media service when a job is submitted.</wsdl:documentation></wsdl:part>
	</wsdl:message>
	<wsdl:message name="transformNotificationMsg">
		<wsdl:part name="in" element="tfms:transformNotification">
			<wsdl:documentation>This message represents a job completion notification that the transform media service sends to a specified endpoint when the transform job ends.</wsdl:documentation></wsdl:part>
	</wsdl:message>
	<wsdl:message name="transformFaultNotificationMsg">
		<wsdl:part name="fault" element="tfms:transformFaultNotification">
			<wsdl:documentation>This message represents a fault notification that the transform media service sends to a specified endpoint if the transform job fails.</wsdl:documentation></wsdl:part>
	</wsdl:message>

   <wsdl:message name="manageJobRequestMsg">
		<wsdl:part name="in" element="bms:manageJobRequest" >
			<wsdl:documentation>This message allows to submit jobs management requests, such as getting the status or pausing a job.</wsdl:documentation></wsdl:part>
	</wsdl:message>
	<wsdl:message name="manageJobResponseMsg">
		<wsdl:part name="out" element="bms:manageJobResponse" >
			<wsdl:documentation>This message provides the response to job management requests, which includes the current status of the job.</wsdl:documentation></wsdl:part>
	</wsdl:message>
	<wsdl:message name="manageQueueRequestMsg">
		<wsdl:part name="in" element="bms:manageQueueRequest" >
			<wsdl:documentation>This message allowsto submit queue management requests, such as getting the status or locking a queue.</wsdl:documentation></wsdl:part>
	</wsdl:message>
	<wsdl:message name="manageQueueResponseMsg">
		<wsdl:part name="out" element="bms:manageQueueResponse" >
			<wsdl:documentation>This messag provides the response to queue management requests, which includes the status and lenght of the queue.</wsdl:documentation></wsdl:part>
	</wsdl:message>
	<wsdl:message name="queryJobRequestMsg">
		<wsdl:part name="in" element="bms:queryJobRequest" >
			<wsdl:documentation>This message is used to request a list of submitted jobs.</wsdl:documentation></wsdl:part>
	</wsdl:message>
	<wsdl:message name="queryJobResponseMsg">
		<wsdl:part name="out" element="bms:queryJobResponse" >
			<wsdl:documentation>This message provides a list of jobs.</wsdl:documentation></wsdl:part>
	</wsdl:message>
	<wsdl:message name="FaultMsg">
		<wsdl:part name="fault" element="bms:fault" >
			<wsdl:documentation>This message represents a fault which might occur for a  management request.</wsdl:documentation></wsdl:part>
	</wsdl:message>    

	<wsdl:portType name="TransformMedia">
		<wsdl:documentation>This port type allows to send job requests to the transform media service. The transform media service has the capability to transform 
one or more content items into one or more different formats. The operation input parameters are: a BMO (which has reference(s) to 
one or more content items) and the target format specification(s). The output of the transform media service is a BMO with one or more content items.

			<h4>REST Mapping for Transform Service</h4>
    		<table>
    			<tr>
    				<th width="10%">Operation</th>
    				<th width="30%">Description</th>
    				<th width="5%">HTTP Method</th>
    				<th width="10%">URI</th>
    				<th width="10%">Request Body</th>
    				<th width="10%">Success Body</th>
    				<th width="10%">Failure Body</th>
    				<th width="10%">HTTP Request Headers</th>
    				<th width="5%">HTTP Response Headers</th>
    			</tr>
				<tr>
					<td class="firstColumn">transform</td>
					<td>Create a Transform Job</td>
					<td class="firstColumn">POST</td>
					<td>.../job</td>
					<td class="firstColumn">tfms:TransformJobType</td>
					<td>tfms:TransformJobType</td>
					<td class="firstColumn">tfms:TransformFaultType</td>
					<td></td>
					<td class="firstColumn">location: {urlForJob}</td>			
				</tr>
			</table>
	  		<br/>
    		<br/>		
    		
</wsdl:documentation>
		<wsdl:operation name="transform">
			<wsdl:documentation>The transform operation transforms media format essences referenced by a BMO to produce new media essences in the specified format and resolution.</wsdl:documentation>
			<wsdl:input message="tfms:transformRequestMsg"></wsdl:input>
			<wsdl:output message="tfms:transformAckMsg"></wsdl:output>
			<wsdl:fault name="transformFault" message="tfms:transformFaultMsg"></wsdl:fault>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:portType name="TransformMediaNotification">
		<wsdl:documentation>This port type defines the operations used by the transform media service to send back a notification to the endpoint specified in the notifyAt request element.
		
			<h4>REST Mapping for Transform Notifications</h4>
			<table>
				<tr>
					<th width="20%">Notification</th>
					<th width="25%">Description</th>
					<th width="10%">HTTP Method</th>
					<th width="25%">Body</th>
					<th width="20%">Generated Events</th>
				</tr>
				<tr>
					<td class="firstColumn">notifyTransformResult</td>
					<td>Transform Job events related to state change, creation, deletion, progress</td>
					<td class="firstColumn">POST</td>
					<td>tfms:TransformJobType</td>
					<td class="firstColumn"><ul> <li> Create Job </li><li> Job Progress </li><li> Manage Job </li></ul></td>
				</tr>
				<tr>
					<td class="firstColumn">notifyFault</td>
					<td>Transform Job Failures</td>
					<td class="firstColumn">POST</td>
					<td>tfms:TransformFaultNotificationType</td>
					<td class="firstColumn"><ul> <li> Create Job </li><li> Job Failure </li></ul></td>
				</tr>
			</table>
			<br/>
			<br/>
    	    	
		
		</wsdl:documentation>
		<wsdl:operation name="notifyTransformResult">
			<wsdl:documentation>This operation allows the transform media service to send a notification with information about the transform job completion to the endpoint specified
in the notifyAt element of the job request.</wsdl:documentation>
			<wsdl:input message="tfms:transformNotificationMsg"></wsdl:input>
		</wsdl:operation>
		<wsdl:operation name="notifyFault">
			<wsdl:documentation>This operation allows the transform media service to send a fault notification with information about the transform job failure to the endpoint 
specified in the notifyAt element of the job request.</wsdl:documentation>
			<wsdl:input message="tfms:transformFaultNotificationMsg"></wsdl:input>
		</wsdl:operation>
	</wsdl:portType>
	
	 <wsdl:portType name="MediaServiceStatus">
		<wsdl:documentation>The MediaServiceStatus interface provides a common SOAP interface for all FIMS services for managing jobs and queues.
		
			<h4>REST Mapping for Media Status Service</h4>
    		<table>
    			<tr>
    				<th width="10%">Operation</th>
    				<th width="30%">Description</th>
    				<th width="5%">HTTP Method</th>
    				<th width="10%">URI</th>
    				<th width="10%">Request Body</th>
    				<th width="10%">Success Body</th>
    				<th width="10%">Failure Body</th>
    				<th width="10%">HTTP Request Headers</th>
    				<th width="5%">HTTP Response Headers</th>
    			</tr>
				<tr>
					<td class="firstColumn">queryJob (single)</td>
					<td>Retrieve a Capture Job</td>
					<td class="firstColumn">GET</td>
					<td>.../job/{jobId}</td>
					<td class="firstColumn"></td>
					<td>bms:JobType</td>
					<td class="firstColumn">bms:FaultType</td>
					<td></td>
					<td class="firstColumn"></td>
				</tr>
				<tr>
					<td class="firstColumn">queryJob (all)</td>
					<td>Retrieve All Capture Jobs</td>
					<td class="firstColumn">GET</td>
					<td>.../job/</td>
					<td class="firstColumn"></td>
					<td>bms:JobsType</td>
					<td class="firstColumn">bms:FaultType</td>
					<td></td>
					<td class="firstColumn"></td>
				</tr>
				<tr>
					<td class="firstColumn">queryJob (selection)</td>
					<td>Retrieve a list of Specific Capture Jobs</td>
					<td class="firstColumn">GET</td>
					<td>.../job?jobId={jobid}&amp;jobId={jobId}...</td>
					<td class="firstColumn"></td>
					<td>bms:JobsType</td>
					<td class="firstColumn">bms:FaultType</td>
					<td></td>
					<td class="firstColumn"></td>
				</tr>
				<tr>
					<td class="firstColumn">queryJob (filtered)</td>
					<td>Retrieve a Filtered List Capture Jobs</td>
					<td class="firstColumn">GET</td>
					<td>.../job?{<em>JobFilterCriteria</em>} (see specification document)</td>
					<td class="firstColumn"></td>
					<td>bms:JobsType</td>
					<td class="firstColumn">bms:FaultType</td>
					<td></td>
					<td class="firstColumn"></td>
				</tr>
				<tr>
					<td class="firstColumn">manageJob</td>
					<td>Manage Jobs (Control Jobs)</td>
					<td class="firstColumn">POST</td>
					<td>.../job/{jobId}/manage</td>
					<td class="firstColumn">bms:ManageJobRequestType</td>
					<td>bms:JobType</td>
					<td class="firstColumn">bms:FaultType</td>
					<td></td>
					<td class="firstColumn"></td>
				</tr>
				<tr>
				    <td class="firstColumn">manageJob (query status)</td>
					<td>Get Minimal Job for current Status</td>
					<td class="firstColumn">GET</td>
					<td>.../job/{jobId}/manage</td>
					<td class="firstColumn"></td>
					<td>bms:JobType (minimum attributes)</td>
					<td class="firstColumn">bms:FaultType</td>
					<td></td>
					<td class="firstColumn"></td>
				</tr>
				<tr>
					<td class="firstColumn">queryQueue</td>
					<td>Retrieve complete details of a Queue</td>
					<td class="firstColumn">GET</td>
					<td>.../queue/{queueID}</td>
					<td class="firstColumn"></td>
					<td>bms:QueueType</td>
					<td class="firstColumn">bms:FaultType</td>
					<td></td>
					<td class="firstColumn"></td>
				</tr>
				<tr>
					<td class="firstColumn">queryQueues</td>
					<td>Retrieve complete details of all Queues</td>
					<td class="firstColumn">GET</td>
					<td>.../queue/</td>
					<td class="firstColumn"></td>
					<td>bms:QueuesType</td>
					<td class="firstColumn">bms:FaultType</td>
					<td></td>
					<td class="firstColumn"></td>
				</tr>
				<tr>
					<td class="firstColumn">manageQueue (status)</td>
					<td>Retrieve a Queue Status</td>
					<td class="firstColumn">GET</td>
					<td>.../queue/{queueID}/status</td>
					<td class="firstColumn"></td>
					<td>bms:QueueType (minimum attributes)</td>
					<td class="firstColumn">bms:FaultType</td>
					<td></td>
					<td class="firstColumn"></td>
				</tr>
				<tr>
					<td class="firstColumn">manageQueue (commands)</td>
					<td>Manage Queue (Queue Commands)</td>
					<td class="firstColumn">POST</td>
					<td>.../queue/{queueID}/manage</td>
					<td class="firstColumn">bms:ManageQueueRequestType</td>
					<td>bms:QueueType</td>
					<td class="firstColumn">bms:FaultType</td>
					<td></td>
					<td class="firstColumn"></td>
				</tr>
				<tr>
				    <td class="firstColumn">manageQueue</td>
					<td>Manage Queue (retrieve queue for management)</td>
					<td class="firstColumn">GET</td>
					<td>.../queue/{queueID}/manage</td>
					<td class="firstColumn"></td>
					<td>bms:QueueType (minimum attributes)</td>
					<td class="firstColumn">bms:FaultType</td>
					<td></td>
					<td class="firstColumn"></td>
				</tr>
			</table>
	  		<br/>
    		<br/>		
		
		</wsdl:documentation>
		<wsdl:operation name="manageJob">
			<wsdl:documentation>This operation provides the managements of jobs, for example requesting the status of a job or pausing a job.</wsdl:documentation>
			<wsdl:input name="jobIn" message="tfms:manageJobRequestMsg" />
			<wsdl:output name="jobOut" message="tfms:manageJobResponseMsg" />
			<wsdl:fault name="fault" message="tfms:FaultMsg" />
		</wsdl:operation>
		<wsdl:operation name="manageQueue">
			<wsdl:documentation>This operation provides the managements of the job queue, for example requesting the status of the queue or starting the queue.</wsdl:documentation>
			<wsdl:input name="queueIn" message="tfms:manageQueueRequestMsg" />
			<wsdl:output name="queueOut" message="tfms:manageQueueResponseMsg" />
			<wsdl:fault name="fault" message="tfms:FaultMsg" />
		</wsdl:operation>
		<wsdl:operation name="queryJob">
			<wsdl:documentation>This operation allows to list submitted jobs and get summary status information for each job.</wsdl:documentation>
			<wsdl:input name="queryIn" message="tfms:queryJobRequestMsg" />
			<wsdl:output name="queryOut" message="tfms:queryJobResponseMsg" />
			<wsdl:fault name="fault" message="tfms:FaultMsg" />
		</wsdl:operation>
	</wsdl:portType>
	 
	 <wsdl:binding name="TransformMediaBinding" type="tfms:TransformMedia">
	 	<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
	 	<wsdl:operation name="transform">
	 		<soap:operation soapAction="http://transformmedia.fims.tv/transform" />
	 		<wsdl:input>
	 			<soap:body use="literal" />
	 		</wsdl:input>
	 		<wsdl:output>
	 			<soap:body use="literal" />
	 		</wsdl:output>
	 		<wsdl:fault name="transformFault">
	 			<soap:fault use="literal" name="transformFault" />
	 		</wsdl:fault>
	 	</wsdl:operation>
	 </wsdl:binding>
	 <wsdl:binding name="TransformMediaNotificationBinding" type="tfms:TransformMediaNotification">
	 	<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
	 	<wsdl:operation name="notifyTransformResult">
	 		<soap:operation soapAction="http://transformmedia.fims.tv/notifyTransformResult" />
	 		<wsdl:input>
	 			<soap:body use="literal" />
	 		</wsdl:input>
	 	</wsdl:operation>
	 	<wsdl:operation name="notifyFault">
	 		<soap:operation soapAction="http://transformmedia.fims.tv/notifyFault" />
	 		<wsdl:input>
	 			<soap:body use="literal" />
	 		</wsdl:input>
	 	</wsdl:operation>
	 </wsdl:binding>
	 <wsdl:binding name="TransformMediaStatusBinding" type="tfms:MediaServiceStatus">
	 	<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
	 	<wsdl:operation name="manageJob">
	 		<soap:operation soapAction="http://transformmedia.fims.tv/manageJob" />
	 		<wsdl:input name="jobIn">
	 			<soap:body use="literal" />
	 		</wsdl:input>
	 		<wsdl:output name="jobOut">
	 			<soap:body use="literal" />
	 		</wsdl:output>
	 		<wsdl:fault name="fault">
	 			<soap:fault use="literal" name="fault" />
	 		</wsdl:fault>
	 	</wsdl:operation>
	 	<wsdl:operation name="manageQueue">
	 		<soap:operation soapAction="http://transformmedia.fims.tv/manageQueue" />
	 		<wsdl:input name="queueIn">
	 			<soap:body use="literal" />
	 		</wsdl:input>
	 		<wsdl:output name="queueOut">
	 			<soap:body use="literal" />
	 		</wsdl:output>
	 		<wsdl:fault name="fault">
	 			<soap:fault use="literal" name="fault" />
	 		</wsdl:fault>
	 	</wsdl:operation>
	 	<wsdl:operation name="queryJob">
	 		<soap:operation soapAction="http://transformmedia.fims.tv/queryJob" />
	 		<wsdl:input name="queryIn">
	 			<soap:body use="literal" />
	 		</wsdl:input>
	 		<wsdl:output name="queryOut">
	 			<soap:body use="literal" />
	 		</wsdl:output>
	 		<wsdl:fault name="fault">
	 			<soap:fault use="literal" name="fault" />
	 		</wsdl:fault>
	 	</wsdl:operation>
	 </wsdl:binding>
	 <wsdl:service name="TransformMediaService">
	 	<wsdl:port name="TransformMediaPort" binding="tfms:TransformMediaBinding">
	 		<soap:address location="http://host/path/TransformMediaPort" />
	 	</wsdl:port>
	 	<wsdl:port name="TransformMediaStatusPort" binding="tfms:TransformMediaStatusBinding">
	 		<soap:address location="http://host/path/TransformMediaStatusPort" />
	 	</wsdl:port>
	 </wsdl:service>
	 <wsdl:service name="TransformMediaNotificationService">
	 	<wsdl:port name="TransformMediaNotificationPort" binding="tfms:TransformMediaNotificationBinding">
	 		<soap:address location="http://host/path/TransformMediaNotificationPort" />
	 	</wsdl:port>
	 </wsdl:service>
</wsdl:definitions>